# .NET / MAUI build output
bin/
obj/
*.user
*.userosscache
*.suo

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.DotSettings.user

# macOS
.DS_Store

# iOS / Xcode
*.ipa
*.dSYM.zip
*.dSYM

# NuGet
*.nupkg
.nuget/

# Logs
*.log
